{{#each transactions}}
    <tr>
        <td>{{timeSince this.time}} ago</td>
        <td>{{this.vout.0.value}}</td>
        <td>{{this.tx-comment}}</td>
        <td>{{this.confirmations}}</td>
        <td>
            (<a href="http://173.198.238.83/tx/{{this.txid}}" target="_blank">FlorinExplorer</a>)
        </td>
    </tr>
{{/each}}